form.content {
  padding: 24px;
  margin: 0;
  background: var(--ant-color-bg-container);
  border-radius: var(--ant-border-radius);
  color: var(--ant-color-primary-text-hover);
  min-height: 100dvh;
}

form.content h3 {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 32px;
  color: var(--ant-color-primary-text-hover);
}

ul.ant-menu button {
  margin-left: 5%;
}

ul.ant-menu .sub-menu {
  color: var(--ant-color-text-description);
}

form.content .button {
  display: flex;
  justify-content: space-between;
}