form.content {
  padding: 24px;
  margin: 0;
  background: var(--ant-color-bg-container);
  border-radius: var(--ant-border-radius);
  color: var(--ant-color-primary-text-hover);
  min-height: 100dvh;
}

form.ant-form h3, #content h3 {
  font-size: 24px;
  line-height: 32px;
  margin: 10px 0px 32px 0px;
  color: var(--ant-color-primary-text-hover);
}

ul.ant-menu button {
  margin-left: 5%;
}

ul.ant-menu .sub-menu {
  color: var(--ant-color-text-description);
}

span.ant-avatar.active {
  background: var(--ant-color-primary);
}

/* App */
#app {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}
/* Header */
header {
  display: flex;
  align-items: center;
  padding: 0 !important;
  flex: 0 0 auto;
}
#menu {
  flex: 1;
  min-width: 0;
}
#button {
  margin-right: 1%;
}
/* Body */
#body {
  flex: 1 1 auto;
  min-height: 0;
  overflow: auto;
}
#sider {
  min-height: 100dvh;
}
#submenu {
  min-height: 100%;
  border-inline-end: 0;
}
#page {
  padding: 0 1%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#nav {
  flex: 0 0 auto;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}
main {
}
#content {
  flex: 0 0 100%;
  padding: 24px;
  margin: 0;
  background: var(--ant-color-bg-container);
  border-radius: var(--ant-border-radius-lg);
  min-height: 100dvh;
}
/* Footer */
footer {
  flex: 0 0 auto;
}